@model IEnumerable<DDAC_Maersk.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>View Schedule</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepatureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepatureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleID })
        </td>
    </tr>
}

</table>
